#app {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
  background: #f3f5f7;
  padding: 0;
}

.left-area {
  width: 320px;
  background: #fff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.content-area {
  flex: 1;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0px;
  background: #fafafa;

  .layout-header {
    width: 100%;
    height: 45px;

    font-size: 18px;
    border-bottom: 2px solid #e4e7ed;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .layout {
    flex: 1;
    width: 90%;
    margin: 10px 50px;
    margin-bottom: 20px !important;
    background: #fff;
    border: 1px dashed #999;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);
  }
}
.right-area {
  width: 450px;
  background: #fff;
  overflow-x: hidden;
}

